.ol-popup {
  position: absolute;
  background-color: white;
  padding: 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  bottom: 40px;
  border: 1px solid #ccc;
  left: -66px;
  z-index: 1;
  min-width: 480px;
  max-width: 480px;
  max-height: 300px;
}

.openlayers-loading-wrapper {
  position: absolute;
  display: none;
  z-index: 1000;
  width: 100%;
  color: #fff;
  background: #ff2000;
}

.ol-popup::after,
.ol-popup::before {
  top: 100%;
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border: solid transparent;
  pointer-events: none;
}

.ol-popup::after {
  border-width: 10px;
  border-top-color: white;
  left: 48px;
  margin-left: -10px;
}

.ol-popup::before {
  left: 48px;
  border-width: 11px;
  border-top-color: #ccc;
  margin-left: -11px;
}

.ol-popup-closer {
  position: absolute;
  text-decoration: none;
  top: 2px;
  z-index: 2;
  right: 8px;
}

.ol-popup-closer::after {
  content: "✖";
}

.openlayers-facets .selected {
  color: #fff;
  background: #0a6aa1;
}
