{% if facet_block %}
    <div data-type="facet-container" id="{{ facet.id }}" data-key="{{ facetsSource }}" data-url-alias="{{ facet.getUrlAlias() }}">
        <h4>{{ facet.label() }}</h4>
        <select name="facet_{{ facet.id }}">
            {{ content }}
        </select>
    </div>
{% endif %}
