<div class="row">
  <div class="col-md-9 openlayers-wrapper">
    <div class="openlayers-loading-wrapper">{{ "Loading map data"|trans }}</div>
    <div
      style="height: 600px"
      data-map="openlayers"
      id="{{ html_id }}"
      data-url="{{ url }}"
      data-url-feature="{{ url_feature }}"
      data-view="{{ view }}"
      data-center-lat="{{ center_lat }}"
      data-center-lon="{{ center_lon }}"
      data-lat="{{ lat }}"
      data-lon="{{ lon }}"
      data-nid="{{ nid }}",
      data-view-mode="{{ display }}"
      data-popup-enabled="{{ popup_enabled }}"
      data-zoom="{{ zoom }}"
      data-cluster-enabled="{{ cluster_enabled }}"
      data-cluster-distance="{{ cluster_distance }}"
      data-filter-field="{{ filter_field }}"
      data-tile-wms='{{ tile_wms|raw }}'
      data-icon="{{ icon }}"
    ></div>
    <div class="ol-popup popup">
      <a href="#" class="ol-popup-closer popup-closer"></a>
      <div class="popup-content"></div>
    </div>
  </div>
  <div class="col-md-3">
    {{ filter }}
    {{ facets }}
  </div>
</div>
