{% if content %}
    <div data-type="facet-container" id="{{ facet.id }}" data-key="{{ facetsSource }}" data-url-alias="{{ facet.getUrlAlias() }}">
        <h4>{{ facet.label() }}</h4>
        {{ content }}
    </div>
{% endif %}
